@import '../../styles/Colors';

.text-btns, .input-box {
    width: 100%;
    justify-content: flex-end;
}
.active-star{
    background-color: transparent !important;
    color: $teal;
}
.inactive-star {
    background-color: transparent !important;
    color: $grey2;
}
.rate-num {
    margin: 10px 10px 10px 0;
    width: 40px;
}
.input-box .fa-star{
    font-size: 30px !important;
}