$blue:#00a3ad;
$yellow:#FDCC08;
$white: #FFFFFF;
$teal: #00A3AD;
$yellow: #FDCC08;
$purple: #444292;
$navy: #172659;
$berry:#80276C;
$blue: #006280;
$pink: #FF6E7E;
$red: #D93A1B;
$grey0: #F1F4F6;
$grey1: #E3E9EC;
$grey2: #D1D7DA;
$grey3: #ACAFB2;
$grey4: #888A8C;
$grey5: #575859;
$black: #000000;
