//COLORS

$teal: #00a3ad;
$yellow: #FDCC08;
$white: #ffffff;
$purple: #444292;
$navy:  #172659;
$berry: #80276C;
$blue: #006280;
$pink: #FF6E7E;

$green: #7EC848;
$red: #D93A1B;

$grey-0: #F1F4F6;
$grey-1: #E3E9EC;
$grey-2: #D1D7DA;
$grey-3: #ACAFB2;
$grey-4: #888A8C;
$grey-5: #575859;

$black:#000000;