.ico,
.ico:before {
    font-family: "optus-icons";
}
.ico-facebook:before {
    content: "\E04B" !important;
}
.ico-checkout:before {
    content: "\E029";
}
.ico-edit:before {
    content: "\E043";
}