@import '../../styles/Colors';

textarea {
    resize:none;
    width:100%;
}
.text-btns{
    margin-bottom:10px;
    .btns {
        width:130px;
        height:40px;
        // border-radius: 0 !important;
    }
}
.input-box {
    width:100%;
}