.toolbar{
    border:2px solid black;
    text-align: center;
    margin: 15px 10%;
    height: 40px;
    background-color:black;
    width:100%; 
    max-width: -webkit-fill-available;     
}

.optus{
    /* margin-top:10px; */
    color:rgb(240, 178, 8);
    font-weight: 900;
    font-size:20px;
    /* margin-top:5px; */
    text-decoration: none;   
    font-family: MarkPro;
}
img{
    max-width: 100%;
    height: auto;
    // margin-top: 7px;
}