@import '../../styles/Colors.scss';

.thumb {
  font-size: 20px;
  height:50px;
  width:500px;
  cursor: pointer;
  display:flex;
  border-radius: 5px;
  justify-content: flex-start;
  button {
    margin-right:10px;
  }
}
.card-box {
  width:100%;
  margin-left:10px;
}


  